body{
    background-color: gray;
    color: black;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
header{
    border: 2px solid black;
    background-color: beige;
    /* width: 200px; */
    text-align: center;
}
.ione{
    border: 2px solid black;
    width: 50px;
    background-color: beige;
    color: black;
    margin:2px ;
}
div{
    width: 400px;
    float: left;
    border: 2px solid black;
    margin: 2px;
    background-color: beige;
}
nav{
    width: 100px;
    float: left;
}